@charset 'UTF-8';
@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url('../imagens/back-phone.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    section#login{
        width: 80vw;
        height: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 15px;
    }    
    section#login > div#imagem{
        float: left;
        width: 40%;
        height: 100%;
    }
    section#login > div#formulario-login, #formulario-cadastro{
        float: right;
        width: 60%;
    }
    #formulario-cadastro .campo{
        margin: 5px 0;
    }
}
@media screen and (min-width: 992px) {
    body{
        background-image: url('../imagens/back-pc.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    section#login{
        width: 60vw;
        max-width: 1100px;
        height: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 15px;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario-login, #formulario-cadastro{
        float: left;
        width: 50%;
    }
    #formulario-cadastro .campo{
        margin: 8px 0;
    }
    div > .campo{
        height: 40px;
    }
    div> .campo > input{
        transform: translateY(-6px);
    }
    div > button{
        height: 40px;
        font-size: 1em;
    }
    .botao{
        height: 40px;
        padding: 5px 0px;
    }
}