@charset 'UTF-8';
@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url('../imagens/back-phone.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    section#login{
        width: 80vw;
        height: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 15px;
    }    
    section#login > div#imagem{
        display: block;
        background: url('../imagens/back-form.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        float: left;
        width: 40%;
        height: 100%;
    }
    section#login > div#formulario-login, #formulario-cadastro{
        float: right;
        width: 60%;
    }
    #formulario-login div .campo:first-child{
        margin-top: -25px;
    }
    #formulario-login p:last-child{
        margin-top: -10px;
    }
    #formulario-cadastro .campo-cadastro{
        margin: 5px 0;
        height: 50px;
    }
    #formulario-cadastro .campo-cadastro:first-child{
        margin-top: -25px;
    }
    #formulario-cadastro button:not(.form){
        height: 50px;
    }
}
@media screen and (min-width: 992px) {
    body{
        background-image: url('../imagens/back-pc.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    section#login{
        width: 60vw;
        max-width: 1100px;
        max-height: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 15px;
    }
    section#login > div#imagem{
        display: block;
        background: url('../imagens/back-form.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        float: right;
        width: 50%;
        height: 100%;
        position: relative;
        transition: ease;
    }
    section#login > div#formulario-login{
        position: relative;
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario-cadastro{
        position: relative;
        float: right;
        width: 50%;
        height: 100%;
    }
    h1{
        padding: 15px;
    }
    #formulario-login p{
        margin-bottom: 25px;
    }
    #formulario-cadastro .campo-cadastro:first-child{
        margin-top: -20px;
    }
    #formulario-cadastro .campo-cadastro{
        margin: 10px;
        height: 50px;
    }
    div > .campo{
        height: 40px;
    }
    div> .campo > input{
        transform: translateY(-6px);
    }
    #btnCadastro{
        height: 50px !important;
        width: 423px !important;
        margin: auto;
        font-size: 1em;
    }
    .botao{
        height: 40px;
        padding: 5px 0px;
    }
}